.pitch-accent-low {
	border-bottom: 1px solid red;
	border-top: 1px solid white;
	line-height: 2;
}

.pitch-accent-high {
	border-top: 1px solid red;
	border-bottom: 1px solid white;
	line-height: 2;
}

.pitch-accent-change {
	border-left: 1px solid red;
	line-height: 2;
}

.pitch-accent-drop {
	border-right: 1px solid red;
	line-height: 2;
}
